<!DOCTYPE html>
<html>
   <head>
      <title>NFL Stats</title>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Marck+Script&display=swap" rel="stylesheet">
   </head>
   <script src="js/index.js"></script>
   <script>
      window.onload = (event) => {
        packed.start()
      }
   </script>
   <body>
      <div id="main-container">
         
      </div>
   </body>
</html>
